pre code.hljs {
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    overflow: auto;
}
code.hljs {
    color: #e1e1e1;
    padding: 3px 5px;
}
.hljs {
    background: #2a2a36;
}
.hljs ::selection,
.hljs::selection {
    background-color: #007fd48a;
    color: #e1e1e1;
}
.hljs-comment {
    color: #bdbdbd;
}
.hljs-tag {
    color: #999;
}
.hljs-operator,
.hljs-punctuation,
.hljs-subst {
    color: #c1c1c1;
}
.hljs-operator {
    opacity: 0.8;
}
.hljs-bullet {
    color: #cf404e;
}
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
    color: #44a9a9;
}

.hljs-literal {
    color: #b8a2ff;
}
.hljs-number {
    color: #59d9cf;
}

.hljs-attr,
.hljs-link,
.hljs-symbol,
.hljs-variable.constant_ {
    color: #82d7f9;
}
.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
    color: #8c7f70;
}
.hljs-strong {
    font-weight: 700;
    color: #8c7f70;
}
.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
    color: #d3d792;
}
.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
    color: #aaa;
}
.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
    color: #888;
}
.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
    color: #6ec976;
}
.hljs-emphasis {
    color: #999;
    font-style: italic;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #888;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: 700;
}
