h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	color: #ffffff;
}
h2 {
	color: #e2e8f0;
}
body {
	background: #121212;
}
button {
	cursor: pointer;
	color: #000;
}
